body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #001632;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #001632;
  font-family: "Roboto", sans-serif;
}

.whole-form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-top: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.option-container {
  display: flex;
  flex-direction: column;
}

.input-container input[type="submit"],
.input-container input[type="button"] {
  background-color: #0d6efd;
  color: white;
  margin-top: 10px;
}

.input-container input[type="button"] {
  background-color: #6c757d;
}
